/out
/edt_workspace/*
/.idea/*
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/libraries/
!/.idea/runConfigurations/
*.prefs
/eclipse_project/workspace/
target/
bin/
build/
/.gradle/*
!gradle.properties
*.hprof
/gradle.properties
workspace/
*/.classpath
*/.project
/dev
.project
